<div class="centerLoading">
  <mat-spinner *ngIf="loading"></mat-spinner>
</div>
<table
  *ngIf="!loading"
  mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8 tableContent"
>
  <ng-container matColumnDef="abone_tip_id_qw_">
    <th mat-header-cell *matHeaderCellDef>Abone Türü</th>
    <td mat-cell *matCellDef="let element">{{ element.abone_tip_id_qw_ }}</td>
  </ng-container>

  <ng-container matColumnDef="lkp_ana_unite_qw_">
    <th mat-header-cell *matHeaderCellDef>Ana Ünite</th>
    <td mat-cell *matCellDef="let element">{{ element.lkp_ana_unite_qw_ }}</td>
  </ng-container>

  <ng-container matColumnDef="alt_unite_id_yeni_qw_">
    <th mat-header-cell *matHeaderCellDef>Alt Unite</th>
    <td mat-cell *matCellDef="let element">
      {{ element.alt_unite_id_yeni_qw_ }}
    </td>
  </ng-container>

  <ng-container matColumnDef="lkp_mulkiyet_qw_">
    <th mat-header-cell *matHeaderCellDef>Mülkiyet</th>
    <td mat-cell *matCellDef="let element">{{ element.lkp_mulkiyet_qw_ }}</td>
  </ng-container>

  <ng-container matColumnDef="lkp_sorumlu_ytm_qw_">
    <th mat-header-cell *matHeaderCellDef>İlgili YTM</th>
    <td mat-cell *matCellDef="let element">
      {{ element.lkp_sorumlu_ytm_qw_ }}
    </td>
  </ng-container>

  <ng-container matColumnDef="adi">
    <th mat-header-cell *matHeaderCellDef>Adı</th>
    <td mat-cell *matCellDef="let element">{{ element.adi }}</td>
  </ng-container>

  <ng-container matColumnDef="soyadi">
    <th mat-header-cell *matHeaderCellDef>Soyadı</th>
    <td mat-cell *matCellDef="let element">{{ element.soyadi }}</td>
  </ng-container>

  <ng-container matColumnDef="pax_no">
    <th mat-header-cell *matHeaderCellDef>Pax Numarası</th>
    <td mat-cell *matCellDef="let element">{{ element.pax_no }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<div style="margin: 10px 0px">
  <mat-paginator
    [length]="totalCount"
    [pageSize]="25"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
