<mat-card class="filterContent">
  <mat-card-content>
    <form [formGroup]="filterForm" (ngSubmit)="onAraButtonClick()">
      <mat-grid-list cols="2" rowHeight="80px">
        <mat-grid-tile>
          <mat-form-field class="filterField">
            <mat-label>Başkanlık Seçiniz</mat-label>
            <input
              type="text"
              placeholder="Başkanlık Seçiniz"
              matInput
              [formControl]="filterFormElements.baskanlik"
              [matAutocomplete]="autoBaskan"
            />
            <mat-autocomplete
              #autoBaskan="matAutocomplete"
              (optionSelected)="onStateChanged($event)"
              [displayWith]="displayFnBaskanlik"
            >
              <mat-option *ngFor="let baskan of baskanlik" [value]="baskan">
                {{ baskan.baskanlikAdi }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="filterField">
            <mat-label>Müdürlük Seçiniz</mat-label>
            <input
              type="text"
              placeholder="Müdürlük Seçiniz"
              matInput
              [formControl]="filterFormElements.mudurluk"
              [matAutocomplete]="autoMudur"
            />
            <mat-autocomplete
              #autoMudur="matAutocomplete"
              [displayWith]="displayFnMudurluk"
            >
              <mat-option *ngFor="let mudur of mudurluk" [value]="mudur">
                {{ mudur.mudurlukAdi }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="6" rowHeight="80px">
        <mat-grid-tile>
          <mat-form-field class="filterField">
            <input
              name="ad"
              matInput
              placeholder="Adınızı Giriniz"
              [formControl]="filterFormElements.ad"
              (ngModelChange)="adChange()"
            />
            <mat-error *ngIf="filterForm.get('ad')?.hasError('maxLength')"
              >İsimler</mat-error
            >
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="filterField">
            <input
              name="soyadi"
              matInput
              placeholder="Soyadınızı Giriniz"
              [formControl]="filterFormElements.soyadi"
            />
            <mat-error *ngIf="filterForm.get('soyadi')?.hasError('maxLength')"
              >Maksimum 100</mat-error
            >
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="filterField">
            <input
              name="dahili"
              matInput
              placeholder="Dahili"
              [formControl]="filterFormElements.dahili"
            />
            <mat-error *ngIf="filterForm.get('dahili')?.hasError('max')"
              >Maksimum 100</mat-error
            >
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="filterField">
            <input
              name="kat"
              matInput
              placeholder="Kat"
              [formControl]="filterFormElements.kat"
            />
            <!-- <mat-error *ngIf="filterForm.get('dahili')?.hasError('max')">Maksimum 999</mat-error> -->
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="filterField">
            <input
              name="oda"
              matInput
              placeholder="Oda"
              [formControl]="filterFormElements.oda"
            />
            <!-- <mat-error *ngIf="filterForm.get('dahili')?.hasError('max')">Maksimum 999</mat-error> -->
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <button
            mat-raised-button
            style="background-color: #369a05; color: white; margin: 0px 10px"
          >
            Ara
          </button>
          <button
            type="button"
            mat-raised-button
            (click)="onTemizleClick()"
            style="border: 1px solid #369a05"
          >
            Temizle
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </mat-card-content>
</mat-card>
