<mat-card class="filterContent">
  <mat-card-content>
    <mat-grid-list cols="2" rowHeight="80px">
      <mat-grid-tile>
        <mat-form-field class="filterField">
          <mat-label> Başkanlık Seçiniz </mat-label>
          <mat-select [(ngModel)]="state.baskanlik" (ngModelChange)="onStateChanged($event)">
            <mat-option *ngFor="let baskan of baskanlik" [value]="baskan.baskanlikKodu">
              {{ baskan.baskanlikAdi }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="filterField">
          <mat-label> Müdürlük Seçiniz </mat-label>
          <mat-select [(ngModel)]="state.mudurluk">
            <mat-option *ngFor="let mudur of mudurluk" [value]="mudur.mudurlukKodu">
              {{ mudur.mudurlukAdi }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="6" rowHeight="50px">
      <mat-grid-tile>
        <mat-form-field class="filterField">
          <input matInput [(ngModel)]="state.ad" placeholder="Adınızı Giriniz" />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="filterField">
          <input matInput [(ngModel)]="state.soyadi" placeholder="Soyadınızı Giriniz" />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="filterField">
          <input matInput [(ngModel)]="state.dahili" placeholder="Dahili" />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="filterField">
          <input matInput [(ngModel)]="state.kat" placeholder="Kat" />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="filterField">
          <input matInput [(ngModel)]="state.oda" placeholder="Oda" />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <button
          mat-raised-button
          (click)="onAraButtonClick()"
          style="background-color: #369a05; color: white; margin: 0px 10px"
        >
          Ara
        </button>
        <button mat-raised-button (click)="onTemizleClick()" style="border: 1px solid #369a05">
          Temizle
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
